extends ../../shared/views/layout


block content
  div.resultsWrapper
    h1(data-bind='text:name')
    p(data-bind='text:url')
    p(data-bind='text:numUsers')
    br
    br
    a.button(href='javascript:void(0)', id='runner', data-bind='click:makeCall') Run Test
    br
    br
    a.button(data-bind='click:showResults', href='javascript:void(0)') Show/Hide Results

    div.resultsSummary.noShow
      h1 Batch Number 1
      p(data-bind="text:iterations")
      ul
        li: strong Images
        li(data-bind='text:imageAssets() + " assets"')
        li(data-bind='text:imageAverageTime')
        li(data-bind='text:completedAverages.images() + " average total"')
      ul
        li: strong CSS
        li(data-bind='text:cssAssets() + " assets"')
        li(data-bind='text:cssAverageTime')
        li(data-bind='text:completedAverages.csss() + " average total"')
      ul
        li: strong Scripts
        li(data-bind='text:scriptAssets() + " assets"')
        li(data-bind='text:scriptAverageTime')
        li(data-bind='text:completedAverages.scripts() + " average total"')




    div.allResults(data-bind='foreach:results')
      h1(data-bind='text:iteration')
      table
        thead
          tr
            th.resultLocation: strong Images
            th: strong Start Time
            th: strong Run Length
        tbody(data-bind='foreach:images')
          tr
            td.resultLocation(data-bind='text:location')
            td(data-bind='text:timeStarted')
            td(data-bind='text:timeLength')

      table
        thead
          tr
            th.resultLocation: strong CSS
            th: strong Start Time
            th: strong Run Length
        tbody(data-bind='foreach:csss')
          tr
            td.resultLocation(data-bind='text:location')
            td(data-bind='text:timeStarted')
            td(data-bind='text:timeLength')

      table
        thead
          tr
            th.resultLocation: strong Scripts
            th: strong Start Time
            th: strong Run Length
        tbody(data-bind='foreach:scripts')
          tr
            td.resultLocation(data-bind='text:location')
            td(data-bind='text:timeStarted')
            td(data-bind='text:timeLength')




append scripts
  != embed_json(test, 'test')
  script(src='/js/loadTestVM.js')
  script
    var mainTests = new mainTest(test);
    ko.applyBindings(mainTests);